*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}


/* common */

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.d-none{
    display: none;
}

